#waline label {
  min-width: 1.75rem;
  font-size: 0.875rem;
  font-weight: bold;
}
#waline input {
  font-size: 0.875rem;
}
#waline .wl-info {
  flex: auto;
}
#waline .wl-card .wl-meta>span {
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}
#waline .wl-card .wl-badge {
  line-height: normal;
  padding: 0 0.25rem;
}
